<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1097082311717-kpcisouho2ra29toi4rldhbbeok0gabj.apps.googleusercontent.com">
</head>
<body>
    <h4>WELCOME {{ user.name }}</h4>
    <a href="/uptime">Fetch Uptime</a>
    <p>Get the log range using the DD-mmm-YY format. For ex. test.kunalchauhan.in/28-Dec-2018/29-Dec-2018 or with time test.kunalchauhan.in/28-Dec-2018 00:00:00/29-Dec-2018 12:00:00. Click on the
        below link to test</p>
    <a href="/range/28-Dec-2018/29-Dec-2018">Log range from 28 to 29 December</a>
    <p>For every user there is a limit of 10 hits by default</p>
    <p>Remaing hit : {{ user.request }}</p>
    <p>For reverse geocoding click on the below link <a href="http://test.kunalchauhan.in/location?latlng=40.714224,-73.961452">link</a></p>
    <p>For the front end solution click on <a href="/csv"> LINK </a></p>

    <a href="#" onclick="signOut();">Sign Out</a>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script>
    function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

    function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                $("#loading").show();
                $.get(`/signout`, function (data, status) {
                    $("#loading").hide();
                    console.log("singout data is " + data)
                    if (data) {
                        window.location.href = "http://test.kunalchauhan.in/"
                    }
                });
            });
        }
</script>
</html>