<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
</head>
<body>
    <p>{{ update }}</p>
    <p>Enter the number of request to change to </p>
    <form action="/change" method="post">
        <input type="number" name="no_req" id="req">
        <button type="submit">Submit</button>
    </form>

</body>
</html>